.m{
	/* z-index: -1; */
} 
.nav-cont{
	width: 100vw;
	/* background: rgb(0, 0, 0); */
	font-family: cursive;
	position: sticky;
	top: 0;
	right: 0;
	z-index: 2;
	margin-top: 0px;
	height: 50px; 
}
.m-nav{
	background: rgb(104, 75, 75);
	display: flex;
	justify-content: space-between;
	max-width: 1400px;
	margin: 0 auto; 
	border-bottom: 2px solid rgba(255, 255, 255, 0.288);
	overflow: hidden;
}

.log h5{
	padding: 10px;
	color: rgb(212, 202, 202);
}
.nav-lis{
	display: flex;
}
.na {
	list-style: none;
	background: rgb(104, 75, 75);
	color: rgb(212, 202, 202);
	height: 100%;
}
.na.active{
	background: rgba(179, 173, 173, 0.377);
	color: rgba(0, 0, 0, 0.589);
}
.nav-lin{
	padding: 10px 50px;
	font-size: 1em;
	font-weight: 600;
	color:inherit;
	width: 250px;
	background: inherit;
}
.nav-lin:hover{
	color: #fff;
}
.m-p{
	position: relative;
	z-index: -1;
} 
.m-p .m-bg{
	position: absolute;
	top: 0;
	left: 0; 
	background-image: url('../img/herobg.jpg');
	opacity: 0.5;
	/* background-position: fixed; */
	/* background-attachment: fixed; */
	background-repeat: repeat;
	/* background-size: cover; */
	/* background-blend-mode: ; */
	height: 3900px;
	width: 100%; 
	margin-top: -2000px;
	z-index: -1;
} 
.m-p .m-cont{ 
	z-index: 3;
	background: transparent;
} 

@media (min-width:2000px){
.m-p .m-bg{
		height: 4000px;
}
}
@media (min-width:2500px){
.m-p .m-bg{
		height: 4500px;
}
}
@media (min-width:5000px){
.m-p .m-bg{
		height: 5000px;
}
}