.instruction-container-text {
	width: 100vw;
	margin: 0;
	padding: 1em 0 3em 0;
	font-family: 'Roboto';
	/* background: #f8000048; */
	background: #000;
	color: #fff;
	perspective: 1000px;
}

.instruction-container-text .ins-content {
	max-width: 1300px;
	margin: 0 auto;
	/* background: rgba(253, 5, 5, 0.212); */
	padding: 0 0 20px 0;
}
.instruction-container-text .ins-content .inst-titl {
	display: block;
	/* background: #000; */
	margin: 2em auto;
	max-width: 900px;; 
	/* animation:typing 4s steps(34,end) forwards,
	blink 1s infinite; */
	animation:title 4s steps(34,end) forwards,
	blink 5s; 
	white-space:nowrap;
	overflow: hidden;
} 

.instruction-container-text .ins-content .inst-titl.anim {
	animation: none;
}

.instruction-container-text .inst-one {
	grid-area: one;
}
.instruction-container-text .inst-two {
	grid-area: two;
}
.instruction-container-text .inst-three {
	grid-area: three;
}
.instruction-container-text .inst-four {
	grid-area: four;
}
.instruction-container-text .inst-five {
	grid-area: five;
}
.instruction-container-text .inst-six {
	grid-area: six;
}

.instruction-container-text .int-grid {
	padding: 2em 0;
	display: grid;
	grid-template-areas: 'one two three' 'four five six';
	/* 'menu footer footer footer footer footer'; */
	grid-gap: 10px;
	width: 100%;
	/* background: white; */
}

.instruction-container-text .int-grid > div > div {
	/* padding: 2em; */
	margin: 20px 10px;
	/* background-color: #1f66ad; */
	width: 350px;
	height: 300px;
	display: block;
	box-shadow: 0 0 5px #fff;
	/* margin: 0 auto; */
	transition: transform 100ms ease-out;
	border: 1px solid #fff;
	/* background: red; */

	transform-style: preserve-3d;
}
.instruction-container-text .int-grid > div > div:hover {
	/* transform: scale(1.1); */
	/* width: 400px;
  height: 350px; */
	/* transform: translateZ(-500px); */
	/* box-shadow: 0 0 30px #fff; */
	/* border: 3px solid rgba(255, 255, 0, 1); */
}
.instruction-container-text .inst-cove {
	padding: 1em;
	/* background: #000; */
	/* animation: pulse 2s infinite; */
	/* transform: translate(0);
	opacity: 1;
	transition: all 500ms;
	 */
}
.instruction-container-text .inst-cove.left {
	opacity: 0;
	transform: translateX(-200px);
}
.instruction-container-text .inst-cove.up {
	opacity: 0;
	transform: translateY(200px);
}
.instruction-container-text .inst-cove.right {
	opacity: 0;
	transform: translateX(200px);
}
.instruction-container-text .inst-cove:hover {
	animation: none;
}
@keyframes pulse {
	25% {
		transform: scale(99%);
	}
	50% {
		transform: scale(100%);
	}
	100% {
		transform: scale(99%);
	}
}
.instruction-container-text .int-grid img {
	height: 90px;
	width: 100px;
	/* background: red; */
	/* color: #fff; */
	display: block;
	margin: 1em auto;
}
.instruction-container-text  .int-grid .inst-cove h6 {
	/* background: red; */
	width: fit-content;
	display: block;
	margin: 2em auto;
	
	/* background: red; */
	max-width: 250px;
	animation:title 4s steps(34,end) forwards,
	blink 1s 3s; 
	white-space:nowrap;
	overflow: hidden;
}

.instruction-container-text  .int-grid .inst-cove.anim h6 {
	animation: none;
}
.instruction-container-text .int-grid .inst-cove p {
	font-size: 0.7em;
	display: block;
	margin: 0 auto 2em auto;
	max-width: 250px;
	animation: p 4s steps(34,end) forwards,
	blink 1s 3s; 
	/* white-space:nowrap; */
	overflow: hidden;
}

.instruction-container-text .int-grid .inst-cove.anim p {
	animation: none;
}

@media (max-width: 1300px) {
	.ins-content .inst-title {
		opacity: 1;
		transform: none;
	}
	.int-grid {
		/* background: red; */
		width: 80%;
		margin: 0 auto;
		grid-template-areas: 'one two' 'three four' 'five six';
	}
	.inst-cover.left {
		opacity: 0;
		transform: translateX(0px);
	}
	.inst-cover.up {
		opacity: 0;
		transform: translateY(0px);
	}
	.inst-cover.right {
		opacity: 0;
		transform: translateX(0px);
	}
}
@media (max-width: 850px) {
	.int-grid {
		/* background: red; */
		width: 50%;
		margin: 0 auto;
		grid-template-areas: 'one' 'two' 'three' 'four' 'five ' 'six';
	}
}
@media (max-width: 500px) {
	.int-grid {
		/* background: red; */
		width: 100%;
		margin: 0 auto;
		grid-template-areas: 'one' 'two' 'three' 'four' 'five ' 'six';
	}
	.int-grid > div {
		width: 100vw;
		margin: 0;
		padding: 0;
	}
}

@keyframes title {
	0% { width:0% }
	100% { width:100% }
  }
@keyframes p {
	0% { width:0%;
	max-height: 20px; }
	20%{
		max-height: 40px;
	}
	40%{
		max-height: 60px;
	}
	50%{
		max-height: 80px;
	}
	100% { width:100%;
		max-height: auto;
	 }
  }



  @keyframes blink {
	0%,100% {
	  border-right:2px solid transparent;
	}
	50% {
	  border-right:2px solid rgb(255, 0, 0);
	}
  }