/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,500;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Syne+Mono&display=swap');
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
	width: 7px;
	/* background: transparent; */
	/* background-image: url('./img/herobg.jpg'); */
	background: #fff;
	/* opacity: 0.1; */
}

/* Track */
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: red;
	/* background: rgb(0, 0, 0); */
	border-radius: 50%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 0, 0, 0.288);
	background: #000;
}

.sweep-head {
	width: 100vw;
	height: 100vh;
	/* background: #ffffffea; */
}

.sweep {
	position: absolute;
	top: 40%;
	left: 40%;
	height: 100%;
	width: 100%;
}
.sweep::after {
	content: 'Loading...';
	position: absolute;
	top: 40%;
	left: 40%;
	height: 100%;
	width: 100%;
}
.sweep-head.sweep--hide {
	opacity: 0;
	display: none;
}

/* $font-family-data: (
  base: #{system-ui,
  BlinkMacSystemFont,
  -apple-system,
  Segoe UI,
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  Fira Sans,
  Droid Sans,
  Helvetica Neue,
  sans-serif},
  mono: #{Menlo,
  Monaco,
  Consolas,
  Liberation Mono,
  Courier New,
  monospace},
); */
body {
	margin: 0;
	padding: 0;
	width: 100vw; 
	position: relative;
	overflow-x: hidden;
	/* background: #fff; */
	/* background: #ff333a; */
	background: url('./img/to2.jpg') no-repeat center center/cover !important;
    background-color: rgba(0,0,0,0.5) !important;
    /* background-color: red !important; */
    background-blend-mode: darken !important;
	
	font-size: 25px;
	text-shadow: 1px 1px #000;
}
.main-header {
	padding: 0 0 7em 0;
	margin-bottom: -4em;
	/* background: #090302; */
	background: url('./img/to.jpg') no-repeat center center/cover !important;
    /* background-color: rgb(0,0,0) !important; */
    /* background-color: red !important; */
    background-blend-mode: lighten !important;
	color: #fff;
	  color: red;
	clip-path: polygon(0 0, 0 100%, 93% calc(100% - 10vw), 100% 0);
	/* position: relative; */
		max-height: 1000px;
}
.space {
	/* background: rgba(88, 88, 88, 0.986); */
	position: relative;
	background-color: inherit;
	/* height: 100px; */
	width: 100vw;
	/* z-index: 2; */
}
#body-wrapper{
	position: relative;
	max-height: 4500px;
	/* overflow: hidden;  */
		/* background: url('./img/to2.jpg') no-repeat center center/cover;
	color: rgba(255,255,255,0.6);  
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: darken; */
}
@media (max-width: 500px) {
	.main-header {
		/* padding: 0 0 8em 0; */
		margin-bottom: 5em;
		clip-path: none;
	}
}
